<div class="container px-5 py-1 mx-auto text-sm">

  <div class="p-1 flex flex-ow scrollbar-hide border-b border-gray-200">
    <div class="basis-1/2 font-medium text-base">
      Workflow details
    </div>
    <div class="basis-1/2 justify-end flex">
        <%= button_to "Delete", @approval_workflow, method: :delete, data: { turbo: false }, 
                      class: "px-3 py-1 text-xs font-medium text-center text-white bg-red-700 rounded-sm hover:bg-red-800 mr-1 w-20 h-6" %>
        <%= button_to "Edit", edit_approval_workflow_path, method: :get, data: { turbo: false }, 
                      class: "px-3 py-1 text-xs font-medium text-center text-white bg-blue-700 rounded-sm hover:bg-blue-800 w-20 h-6" %>
    </div>
  </div>

  <div class="w-full md:w-12/12">
    <div class="grid md:grid-cols-1 text-xs">
      <div class="grid grid-cols-3">

        <div class="px-4 py-2 font-semibold col-span-1">Name</div>
        <div class="px-4 py-2 col-span-2"><%= @approval_workflow.name %></div>

        <div class="px-4 py-2 font-semibold col-span-1">Primary Approvers</div>
        <div class="px-4 py-2 col-span-2">
          Required: <%= @approval_workflow.required_primary_approvals %><br>
          Approvers: <%= @approval_workflow.primary_approvers.map(&:username).join(', ') %>
        </div>

        <div class="px-4 py-2 font-semibold col-span-1">Secondary Approvers</div>
        <div class="px-4 py-2 col-span-2">
          Required: <%= @approval_workflow.required_secondary_approvals %><br>
          Approvers: <%= @approval_workflow.secondary_approvers.map(&:username).join(', ') %>
        </div>

      </div>
    </div>
  </div>

</div>
